@use "../theme.scss" as theme;

.gifGrid {
  flex: 1;
  width: 100vw;
  display: grid;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

.gif {
  width: 95%;
  border-radius: 0.5rem;
  align-self: center;
  justify-self: center;
  // border: theme.$background-2 solid 0.25rem;
}
