.header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.logo {
  width: 5rem;
  padding-right: 1rem;
}

.headerText {
  font-size: 3.5rem;
  font-weight: 600;
}
